{% extends "Layout.html" %}

{% block content %}
<div class="cointainer">
    <div class="d-flex justify-content-center align-items-center" style="height:100vh">
      <div class="card card-background" style="width: 25rem;">
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group mt-2">
              <label for="{{field.label}}" class="text-light">{{field.label}}</label>
              {{field}}
            </div>
            {% endfor %}
            <div class="form-group mt-2">
              <button type="submit" class="btn btn-primary" value="Update">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}