{% load static %}
<table class="table align-middle mb-0 rounded" style="background-color: #1c1b39; color:white; overflow-y: scroll;">
    <thead style="color:white">
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr>
        <td>
          <p class="fw-normal mb-1">{{transaction.updated_at}}</p>
        </td>
        {% if request.user == transaction.lender %}
        <td>
          <div class="d-flex align-items-center">
            <img
                src="{% static transaction.borrower.avatar.url %}"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{transaction.borrower.username}}</p>
              <p class="mb-0">{{transaction.borrower.email}}</p>
            </div>
          </div>
        </td>
        <td>
          <span class="badge badge-success rounded-pill d-inline">+{{transaction.amount}}</span>
        </td>
        <td>
          <span class="badge badge-success rounded-pill d-inline" style="color: rgb(119, 197, 119);">Loan</span>
        </td>
        {% else %}
        <td>
          <div class="d-flex align-items-center">
            <img
                src="{% static transaction.lender.avatar.url %}"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{transaction.lender.username}}</p>
              <p class="mb-0">{{transaction.lender.email}}</p>
            </div>
          </div>
        </td>
        <td>
          <span class="badge badge-success rounded-pill d-inline">-{{transaction.amount}}</span>
        </td>
        <td>
          <span class="badge badge-success rounded-pill d-inline" style="color: rgb(156, 77, 77);">Borrow</span>
        </td>
        {% endif %}
        {% if transaction.is_paid %}
        <td><span class="badge text-bg-success">Paid</span></td>
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded">
            <a href=""><i class="bi bi-check-lg" style="font-size: larger;"></i></a>
          </button>
        </td>
        {% else %}
        <td><span class="badge text-bg-danger">Pending</span></td>
        {% if request.user == transaction.lender %}
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded">
            <a href="{% url 'ask_request_view' transaction.id %}">Request</a>
          </button>
        </td>
        {% else %}
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded">
            <a href="{% url 'pay_request_view' transaction.id %}">Pay</a>
          </button>
        </td>
        {% endif %}
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
</table>